<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OtelKayitOtomasyonu.Properties.Settings.OtelKayitOtomasyonConnectionString"
            connectionString="Data Source=KURTULDU;Initial Catalog=OtelKayitOtomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OtelKayitOtomasyonu.Properties.Settings.OtelKayitConnectionString"
            connectionString="Data Source=KURTULDU;Initial Catalog=OtelKayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OtelKayitOtomasyonu.Properties.Settings.OtelKayitProjesiConnectionString"
            connectionString="Data Source=KURTULDU;Initial Catalog=OtelKayitProjesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OtelKayitOtomasyonu.Properties.Settings.otelKayitOtomasyonuConnectionString"
            connectionString="Data Source=KURTULDU;Initial Catalog=otelKayitOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OtelKayitOtomasyonu.Properties.Settings.KayitDatabasesConnectionString"
            connectionString="Data Source=KURTULDU;Initial Catalog=KayitDatabases;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OtelKayitOtomasyonu.Properties.Settings.KayitDatabasesConnectionString1"
            connectionString="Data Source=.;Initial Catalog=KayitDatabases;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KPSPublicSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="KPSPublicSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx"
                binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap"
                contract="KimlikBilgileri.KPSPublicSoap" name="KPSPublicSoap" />
        </client>
    </system.serviceModel>
</configuration>